html {
	background-image: url(../images/back.jpg);
	background-repeat: no-repeat;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;	
	background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	background: linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9; */
	border-color: #F93;
	border-width: 3px;
	border-style: solid;
	
	box-shadow: 0 0 25px rgba(100,100,100,0.9);
}

#map {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 75%;
}

.courts li {
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

.courts li:hover {
	background-color: #C60;
}

.courts li a,
.courts li a:link,
.courts li a:visited {

	color: #FFF;
	text-decoration: none;
}

.courts li meter {
	display: inline-block;
	height: 0;
	margin: 0;
	padding: 10px;
	width: 10px;;

	-webkit-appearance: none;
	appearance: none;
}

.rater {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;

	list-style-type: none;
	line-height: 1;
}

.rater-level {
	float: left;

	color: #efecd2;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
	color: #efecd2;
	text-decoration: none
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
	color: #ffe91f;
}

.info-window strong {
	display: block;
}

#left-menu {
	width: 25%;
	height:700px;
	overflow:scroll;
	color:#fff;
}

header {
	margin: 0 auto;
	width: 1000px;
	height: 200px;
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	margin-top: 200px;
	border-color: #F93;
	border-width: 3px;
	border-style: solid;
	
	box-shadow: 0 0 25px rgba(100,100,100,0.9);
}

.single1 {
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

#geo {
	padding:2px;
	margin:10px;
}

#geo-form {
	margin:10px;
}